.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  font-weight: 600;
}

.introduction {
  margin-top: 200px;
  margin-bottom: 160px;
}

.title {
  font-size: 1.5rem;
}

.subtitle {
  margin: 0.4rem 0; 
  font-weight: 400;
}

.location {
  font-size: 0.8rem;
  font-weight: 300;
  color: slategray;
}